<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/resume">Resume</a></li>
        		<li><a href="/articles">Articles</a></li>
    		</ul>
		</nav>
		<div class="container">

        {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:james.becca@me.com">email</a></li>
        		<li><a href="https://github.com/beccasjames">github</a></li>
						<li><a href="https://twitter.com/beccasjames">twitter</a></li>
						<li><a href="https://linkedin.com/in/beccasjames">linkedin</a></li>
						<li><a href="https://instagram.com/james.becca">instagram</a></li>
			</ul>
		</footer>
	</body>
</html>
